.lkfUl {
  display: flex;
  flex-direction: column;
}
*, ::after, ::before {
  box-sizing: border-box;
  min-width: 0px;
}
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.dLvPjI {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(145, 145, 145);
  text-transform: uppercase;
}
.lajchV {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 10px;
  border-top: 1px solid rgb(232, 232, 232);
  border-right-color: rgb(232, 232, 232);
  border-bottom-color: rgb(232, 232, 232);
  border-left-color: rgb(232, 232, 232);
}
hr {
  border: none;
  margin: 0px;
  height: 1px;
}
.nkbZK {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.fBPoml {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -5px;
  margin-right: -5px; */
}

.jWfUoz {
  color: rgb(74, 74, 74);
  background-color: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: calc(33.33% - 10px);
  height: 44px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(203, 203, 203);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
button {
  border: none;
  margin: 0px;
  padding: 0px;
  width: auto;
  overflow: visible;
  background-color: transparent;
  cursor: pointer;
  outline: 0px;
  color: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  appearance: none;
  text-align: center;
}
.OdjiH {
  color: rgb(175, 175, 175);
  background-color: rgb(243, 244, 245);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: calc(33.33% - 10px);
  height: 44px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(203, 203, 203);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (min-width: 640px){
  .jWfUoz {
      width: calc(16.66% - 10px);
  }
  .OdjiH {
    width: calc(16.66% - 10px);
}
}
.bbREVI {
  /* display: flex; */
  flex-wrap: wrap;
}
*, ::after, ::before {
  box-sizing: border-box;
  min-width: 0px;
}
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.jfufrK {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 0px;
  width: 100%;
}
.lkuZcd {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.fiKPzL {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(74, 74, 74);
  width: 100%;
  margin-top: 5px;
}
.jdmDZA {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.fJmoPd {
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
.border-b {
  border-bottom-width: 1px;
}
.border-grey-200 {
  --border-opacity: 1;
  border-color: #e8e8e8;
  border-color: rgba(232, 232, 232, var(--border-opacity));
}
.dBDQKb {
  transform: translateY(0px);
}
@media screen and (min-width: 1024px){
  .lkuZcd {
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 0px;
  }
  .jfufrK {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
    
  }
  .jdmDZA {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .iomkUk {
    font-size: 18px;
  }
}

.iYblXa[aria-expanded="true"] {
  box-shadow: rgb(203, 203, 203) 0px 0px 0px 1px;
}
.iYblXa[aria-expanded="true"], .iYblXa[aria-expanded="false"] {
  position: relative;
  background-image: none;
}
.iYblXa {
  display: inline-block;
  padding: 0px 1.4em 0px 0.8em;
  line-height: 40px;
  width: 100%;
  max-width: 80%;
  margin: 0px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  appearance: none;
  background-color: rgb(255, 255, 255);
  background-image: url(/icons/arrow-down.svg), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0px 0px;
  outline: none;
}
[hidden] {
  display: none !important;
}

.bqrfuB {
  display: flex;
}
.dzRIju {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.dLcDnq {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 640px){
  .dzRIju {
    width: 48%;
  }
}

.hoqQtU {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 133, 14);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* width: calc(33.33% - 10px); */
  height: 44px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(203, 203, 203);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.lajchV {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 10px;
  border-top: 1px solid rgb(232, 232, 232);
  border-right-color: rgb(232, 232, 232);
  border-bottom-color: rgb(232, 232, 232);
  border-left-color: rgb(232, 232, 232);
}
hr {
  border: none;
  margin: 0px;
  height: 1px;
}
.daLexJ3 {
    background-color: rgb(233, 232, 232);
    outline: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding: 8px 12px;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 203, 203);
    border-radius: 4px;
    width: 50%;
    text-align: center;
}

.crzQPx1 {
    background-color: rgb(233, 232, 232);
    outline: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding: 8px 12px;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    width: 50%;
    text-align: center;
}
.cRyFpS1 {
    background-color: rgb(233, 232, 232);
    outline: none;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding: 8px 12px;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 203, 203);
    border-radius: 4px;
    text-align: center;
}