body {
	margin: 0px; /*消除body區域預設的margin*/
	background: antiquewhite; /*設定body背景色*/
	display: flex; /*使物件依序排列*/
	flex-direction: column; /*使物件垂直排列*/
}

.header {
	height: 100px; /*設定header高度*/
	background: lightgoldenrodyellow; /*設定header背景色*/
	border-bottom: 2px solid darkgrey; /*設定heade下方底線樣式*/
}

.logo img { /*設定logo大小與位置*/
	height: 70px;
	width: 140px;
	margin-left: 40px;
	margin-top: 15px;
}

.login_in_out {
	float: right;
	margin-top: 40px;
	margin-right: 40px;
	text-decoration: none;
	font-size: 20px;
}

.subnav { /*設定側邊欄*/
	float: left;
    width: 200px;
    height: 600px;
    background: #b8d5b8;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: .40rem;
}

.subnav ul li { /*設定li高度, ex 查詢消費者的高度*/
	height: 30px;
	line-height: 25px;
	list-style: none
}

.subnav ul { /*ul與側邊攔框的距離*/
	padding-left: 30px;
}

.subnav ul li a { /*側邊攔小項目的字體跟顏色*/
	font-size: 14px;
	color: #8f8787;
	text-decoration: none;
}

.subnav ul li a:hover { /*滑鼠移到側邊攔小項目的顏色*/
	color: #00a4ff;
}

.subnav h3 { /*側邊攔大標題的字體顏色*/
	margin: 0px;
	color: #ff5151;
}

.custinfo { /*資料顯示區域寬度、與側邊攔距離*/
	margin-left: 220px;
    position: relative;
    width: 1030px;
}

.custinfo_title { /*資料顯示區域的標題*/
	margin-top: 20px;
	background-color: darksalmon;
	border-radius: .40rem;
	height: 60px;
}

.custinfo_title a { /*資料顯示區域的標題內部樣式*/
	display: inline-block;
	margin: 16px 10px 5px 5px; /*上右下左*/
	font-size: 20px;
	font-weight: bold;
}

.custinfo_title img {
	width: 15px;
}

.custinfo ul li {
	margin: 0px;
	list-style: none;
}

.input_adid {
	margin-bottom: 10px;
}

.input_area {
	margin-top: 10px;
	border-radius: .40rem;
	height: 30px;
}

.input_area b {
	margin-left: 5px;
}

table {
	width: 100%;
	background-color: #e1e1d1;
	clear: none;
	margin-top: 10px;
	padding: 0px;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	padding: 0;
	text-align: left;
}

table img {
	width: 120px;
}

.tableImg {
	text-align: center;
}

.footer { /*footer的高跟背景色*/
	height: 70px;
	background-color: #8f8787;
}

.copyright { /*應該是讓它飄浮...吧*/
	float: left;
}

.copyright p { /*版權字體大小與位置*/
	font-size: 12px;
	color: #fff;
	margin: 20px 0 15px 40px;
}

.links { /*關於平台....在footer右側*/
	float: right;
	margin-right: 40px;
}

.links dl { /*讓footer右側的項目水平排列*/
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}

.links dl dt {
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}

.links dl dd a {
	color: #333;
	font-size: 12px;
}

.errormsgs {
	display: inline-block;
}